<h2 class="sign-up-in-form-head">Sign In</h2>

<div class="well sign-in-out-form">
  <%= form_tag sessions_path do |f| %>
    <div class="form-group">
      <i class="fa fa-envelope-o fa-fw"></i>
      <%= label_tag :email %>
      <%= email_field_tag :email,"", class: "form-control" %>
    </div>
    <div class="form-group">
      <i class="fa fa-key fa-fw"></i>
      <%= label_tag :password %>
      <%= password_field_tag :password, "",class: "form-control" %>
    </div>
    <%= submit_tag "Sign In", class:"btn btn-primary" %>
  <% end %>
</div>
