<h4>Sign In</h4>
<div class="well">
  <%= form_tag sessions_path do |f| %>
    <div class="form-group">
      <%= label_tag :email %>
      <%= email_field_tag :email,"", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag :password %>
      <%= password_field_tag :password, "",class: "form-control" %>
    </div>
    <%= submit_tag "Sign In", class:"btn btn-primary" %>
  <% end %>
</div>
