<h2 class="sign-up-in-form-head">Sign Up</h2>

<div class="sign-up-form well col-lg-6 col-centered col-sm-8 col-md-6 col-xs-12">
  <%= form_for @user do |f| %>
  <%= render 'layouts/error_message' %>
    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to "Cancel", root_path, class: "btn btn-default"%>
  <% end %>
</div>

