<h2 class= "post-resize">
  <% if user_signed_in? && @post.favourited_by?(current_user) %>
    <%= link_to fa_icon("star"), post_favourite_path(@post,
                        @post.favourite_for(current_user)), method: :delete %>
  <% else %>
    <%= link_to fa_icon("star-o"), post_favourites_path(@post),
                        method: :post %>
  <% end %>
  <%= @post.title %>
</h2>
<div class= "post-resize">
  <hr>
  <p><%= @post.body %></p>
  <hr>
  <!-- Tag -->
<div class="tags">
  <% if @post.tags.any? %>
    Tagged with:
    <% @post.tags.each do |tag| %>
      <div class="label label-primary" id="tags-show">
        <%= tag.name %>
      </div>
    <% end %>
  <% end %>
</div>
<br>
  <div class="created-by">
    <% if @post.user %>
      <p> Created by:
      <%= @post.user.full_name %></p>
      <% end %>
    </p>
  </div>
</div>
<div class="post-resize">
  <% if can? :edit, @post %>
    <%= link_to "<i class='glyphicon glyphicon-pencil'></i> Edit".html_safe, edit_post_path(@post), class: "btn btn-info btn-sm" %>
  <% end %>
  <% if can? :delete, @post %>
    <%= link_to "<i class='glyphicon glyphicon-remove'></i> Delete".html_safe, post_path(@post), {method: :delete, data: {confirm: "Are you sure ?"}, class: "btn btn-danger btn-sm"} %>
  <% end %>
</div>

<!-- <h5>Vote Count: <%= @post.vote_counter %> </h5>
  <div>
    <%#if session[:has_voted] %>
      You voted already!
    <%#else %>
    <%#= button_to "+", vote_up_post_path(@post) %>
    <%# end %>
  </div>
  <div>
    <%#if session[:has_voted] %>
      You voted already!
    <%# else %>
    <%#= button_to "-", vote_down_post_path(@post), class:"btn-group btn-group-xs"  %>
    <%# end %>
  </div> -->
<br>
<div class="post-resize">
  <%= form_for [@post, @comment] do |f| %>
    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, class: "form-control", placeholder: "Enter a comment here"%>
    </div>
    <div>
      <%= f.submit class: "btn btn-primary btn-sm pull-right" %>
    </div>
  <% end %>
</div>
<br>
<div class="post-resize">
  <h4>Comments</h4>
  <% @post.comments.each do |comment| %>
    <div class="well well-sm comments">
      <%= comment.body %>
      <% if can? :destroy, comment %>
        <%= link_to("<i class='glyphicon glyphicon-remove'></i>".html_safe,
                            post_comment_path(@post, comment), method: :delete,
                            class: "btn comment-delete btn-xs",
                            data: {confirm: "Are you sure?"}) %>
      <% end %>
    </div>
    <% end %>
</div>
